
<body>
    <nav class="navbar navbar-expand-md navbar-light border-bottom sticky-top " style="background-color: #ebebeb;">
      <!-- <nav class="navbar navbar-dark bg-primary"></nav> -->
        <div class="container-fluid">
          <a class="navbar-brand" href="/listings"><i class="fa-solid fa-hotel fa-beat fa-xl"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!-- <a class="nav-link " href="/">Home</a> -->
              <a class="nav-link" href="/listings">Explore</a>
              <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
            </div>
            <div class="navbar-nav ms-auto">
              <a class="nav-link" href="/listings/new">Add New Hotel</a>

              <% if(!currUser) { %>
                <a class="nav-link " href="/signup"><b>Signup</b></a>
                <a class="nav-link" href="/login"><b>Log-in</b></a>
              <% } %>
              <% if(currUser) { %>
                <a class="nav-link" href="/logout"><b>Log-out</b></a>
              <% } %>
              
            </div>
          </div>
        </div>
      </nav>
</body>


